/* You can add global styles to this file, and also import other style files */
*{
  font-family: roboto;
  outline: none;
}

body{
  margin: 0;
  background-color: #191414;
}

.imgPerfil {
  height: 22px;
  width: 22px;
  float: left;
  position: fixed;
  left: 0px;
  bottom: 0;
}
